<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Engine</title>
</head>
<body>
    {{!-- <h1>Now, I can add content dynamically.</h1> --}}
    {{!-- maan lo yeh meri constant heading hai...to main isko partials mei store kar dunga header.hbs bana ke and wahin se call karaunga isko --}}
    {{>header}} 
    {{!-- yahi format hai add karne ka kisi partial file ko --}}
    
</body>
</html>