{{!-- yeh ek view engine hai handlebar template ko dikhane ke liye and handlebar is an extension of Mustache template engine.

Handlebars is largely compatible with Mustache templates. In most cases it is possible to swap out Mustache with Handlebars and continue using your current templates. 

Handlebars provides the power necessary to let you build semantic templates effectively with no frustration. 

Handlebars compiles templates into JavaScript functions. This makes the template execution faster than most other template engines.  --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Engine</title>
</head>
<body>
    <h1>Now, I can add content dynamically.</h1>
    
</body>
</html>